backports.tarfile==1.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dnspython==2.6.1
docutils==0.21.2
emoji==2.12.1
fake-useragent==1.5.1
fonttools==4.53.0
gitopenlib==0.2.28.21
idna==3.7
importlib_metadata==8.0.0
importlib_resources==6.4.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jieba==0.42.1
joblib==1.4.2
keyring==25.2.1
kiwisolver==1.4.5
lxml==5.2.2
markdown-it-py==3.0.0
matplotlib==3.9.1
mdurl==0.1.2
more-itertools==10.3.0
nh3==0.2.17
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pkginfo==1.10.0
psutil==6.0.0
Pygments==2.18.0
pymongo==4.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
readme_renderer==43.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
setuptools==70.0.0
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.66.4
twine==5.1.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wheel==0.43.0
zipp==3.19.2
